<%- include('template/header') %>
<%- include('template/navBar') %>

<body>
    <div class="wrapper " style=" width: 100%; margin: auto;">
        <p style="text-align: center; padding-bottom: 5%; padding-top: 5%;">Your account has been created. Please check
            your email for activation link.</p>
    </div>
    <div class="container " style="width: 20%; padding: 5%; margin: auto;">
        <a href="/login" class="btn btn-outline-info btn-lg" role="button" aria-pressed="true">Login </a>
    </div>

    </html>