<%- include('template/header') %>
<%- include('template/navBar') %>

<body>
    <div class="wrapper " style=" width: 100%; margin: auto;">
        <h1 style="text-align: center; padding-bottom: 5%; padding-top: 5%;">Welcome to our simple comment web
            page</h1>
    </div>
    <div class="container " style="width: 400px; padding: 5%; margin: auto;">
        <a href="/signup" class="btn btn-outline-info btn-lg" role="button" aria-pressed="true">Sign Up</a>
        <a href="/login" class="btn btn-outline-info btn-lg" role="button" aria-pressed="true">Login </a>
    </div>

    </html>